$white: #ffffff;
$red: #ef3b42;
$green: #00b25a;
$black: #000000;
$grey-light: #e0e0e0;
$grey: #ced4da;
$grey-dark: #7f7f7f;
$blue: #0095da;
$sky-blue: #5dc8fa;
$black-light: rgba(0, 0, 0, 0.05);
$grey-darken: #ccc;
$white-dark: #dadada;
$black-lighter: #495057;